---
import PageLayout from "@layouts/404Layout.astro"
import TopLayout from "@layouts/TopLayout.astro";
---
<PageLayout title="Page not found">
  <TopLayout>
    <div class="relative bg-white dark:bg-black">
      <div class="mx-auto max-w-screen-sm p-5 space-y-24 pb-16">

        <!-- 404 Section -->
        <section class="animate">
          <article>
            <h1>404 Not Found</h1>
            <p>Maaf, halaman yang Anda cari tidak ada.</p>
            <a href="/" class="py-2 px-4 truncate rounded text-xs md:text-sm lg:text-base border border-black/25 dark:border-white/25 hover:bg-black/5 hover:dark:bg-white/15 blend" style="text-decoration:none">« Back to home</a>
          </article>
        </section>
      </div>
    </div>
  </TopLayout>
</PageLayout>
