---
import Container from "@components/Container.astro"
---
<Layout title="Halaman Tidak Ditemukan">
  <h1>404 - Halaman Tidak Ditemukan</h1>
  <p>Maaf, halaman yang Anda cari tidak ada.</p>
  <a href="/">Kembali ke Beranda</a>
</Layout>
